/*====================*\
    #General
\*====================*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: #c8c8c8;
}





/*====================*\
    #Canvas
\*====================*/

canvas {
    position: absolute;
}